<h2>Welcome <%= current_user.name %></h2>
<div class="box">
  <% current_user.favorite_cities.each do |favorite_city| %>

  <div class="">
    <%= link_to favorite_city.city_name, favorite_city_path(favorite_city.id) %>

  <h3><%= ((WeatherApi.get_weather(favorite_city.city_name)["main"]["temp"] - 273) * 9 / 5 + 32).round %>&#8457;</h3>



    <div class="">
      <%= link_to 'delete', favorite_city_path(favorite_city.id), :method => :delete, data: {:confirm => "You sure?"} ,:title => "Delete #{favorite_city.city_name}" %>
    </div>
  </div>

  <% end %>
</div>
