// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/// navbar
.nav-bar li:hover{
   background-color: rgb(208, 208, 208);
}
.nav-bar li:active {
  background-color: rgb(193, 193, 193);
}
// show page index users
.welcome {
  text-align: center;
  font-size: 50px;
  padding: 15px 0px 20px 0px;
}

.cities-index {
  text-align: center;
}

.cities-index h1 a{
  font-size: 40px;
  color: rgb(93, 209, 224);
  text-decoration: none;
}

.cities-index h1 a:hover {
  color: rgb(50, 141, 153);
}

.cities-index h3 {
  font-size: 30px;
  padding-bottom: 10px;
}


// new user sign-up
.inputs-sign-up{
  display: initial;
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 5%;
}
.registration-sign-up{
  background: rgba(235, 235, 235, 0.64);
  padding-bottom: 5%;
  border-radius: 5%;
}
.registration-sign-up h1{
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 2%;

}

.registration-sign-up form{
  font-size: 15px;
  display: grid;
  justify-content: center;
}
